<!-- About Section -->
<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<h2>About Tyler</h2>
			<p>
				I am a software developer originally from Hartland, VT. I
        graduated from Northeastern University in 2011 with a B.S.
        in Computer Science. I currently reside in Boston, MA.
        My professional experience is primarily in Java and Python,
				but I am passionate about learning new technologies and languages.
        During my free time, I enjoy photography, hiking, and gaming.
			</p>
		</div>
	</div>
</section>
<app-footer></app-footer>
