<!-- About Section -->
<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<h2>About Tyler</h2>
			<p>
				I am a software developer originally from Hartland, VT. I
        graduated from Northeastern University in 2011 with a B.S.
        in Computer Science. I currently reside in San Francisco, CA.
        My professional experience is primarily in Java, but I am
        passionate about learning new technologies and languages.
        I have used languages, such as Python and Typescript for my
        most recent projects. During my free time, I enjoy 
        photography, hiking, and gaming.
			</p>
		</div>
	</div>
</section>
<app-footer></app-footer>
